* {
    box-sizing: border-box;
  }
body{
    margin:0;
    width:100%;
    height: 100%;
    background-color:  #e0e0e0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
} 

/* HEADER SECTION START HERE  */
header{
    background-color: rosybrown;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.nav-div{
    display: flex;
    justify-content: space-between;   
}
    
#logo-image{
    width: 60px;
    height: 60px;
}
.logo-image-div{
    display: inline;
    margin: 0 0 0 20px;
    height: 60px;
    padding: 0px;
}

.link{
    text-decoration: none;
    color:black;
    text-align: center;  
    font-weight: bold;
}

.login-div{
    text-align: center;
    margin:0 20px 0 0;
    float: right; 
    padding:14px;
 
}
/* HEADER ENDS HERE  */

/* BOOTSTRAP CODE  */
.centerInput{
    text-align: center;
}
label{
    padding-right: 10%;
}

input[type=text], input[type=date],input[type=number],input[type=password],input[type=email], select, textarea {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.modal-header {
    background-color: rosybrown;
}
/* END OF BOOTSTRAP CODE */

/* CONTENT SECTION STARTS HERE  */
.content{
    margin-top: 60px;
    margin-bottom: 80px;
}
.search-bar{
    width: 100%;
    height: 380px;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar input{
    background-color:  #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    width: 400px;
    padding:10px;
    font-size: 16px;
}

input:focus {
    outline: 1px solid #f1f1f1;

}
.container-image{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0 50px 0;
}
.city-image{
    border-radius: 25%;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 25%;
    opacity: 0;
    transition: .5s ease;
    background-color: black; 
}
.containerr {
    box-shadow:  10px 10px 10px grey;
    border-radius: 25%;
    position: relative;
    width:150px;
    height:150px;
  }
 
.containerr :hover .overlay {
    opacity: .5;
}
.view-more-div{
    text-align: center;
}
/* CONTENT SECTION  END HERE*/


/* FOOTER SECTION STRAT HERE  */
footer{
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    left: 0;  
    width: 100%;
}

.footer-content-div{
    display: inline;
  
}

.social-logo-image{
    width: 22px;
    height: 20px;
}

.social-icon{
    display: inline;
  
}
.copyright{
    display: inline;
    font-size: 12px;
}
.footer-content{
    overflow: hidden;
    margin: 12px 20px 12px 20px;
}

/* FOOTER SECTION END HERE  */


/* Responsive layout */
/* Responsive layout - when the screen is less than 576px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 576px) {
    
/* CONTENT DIV STARTS HERE  */
.search-bar{
    height: 240px;
    background-attachment:unset;
}
.search-bar input{
    width: 80%;
}
.containerr{
    width: 200px;
    height: 200px;
   position: relative;
    margin: 8% 0;
  
}
.container-image{
    flex-direction: column;
    align-items: center;
}

/* FOOTER SECTION STRAT HERE  */
.footer-content{
    margin: 2%;
}
.copyright{
    padding-top:2%;
    font-size: 8px;
}
/* FOOTER SECTION END HERE  */
}


/* Responsive layout */
/* Responsive layout - when the screen is greater than 576px wide and less than 768px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 576px) and (max-width: 768px) {
    
 /* do nothing  */

}
