* {
    box-sizing: border-box;
  }
body{
    margin:0;
    width:100%;
    height: 100%;
    background-color:  #e0e0e0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
} 

/* HEADER SECTION START HERE  */
header{
    background-color: rosybrown;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
.search-bar{
    width: 100%;
    height: 380px;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar input{
    background-color:  #f1f1f1;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    padding:10px;
    font-size: 16px;
}
#logo-image{
    width: 60px;
    height: 60px;
}
.logo-image-div{
    display: inline;
    margin: 0;
    height: 60px;
    padding: 0px;
}
.link{
    text-decoration: none;
    color:black;
    text-align: center;  
}
.login-div{
    text-align: center;
    margin:0;
    float: right; 
    padding:20px;
 
}
/* HEADER ENDS HERE  */

/* CONTENT DIV STARTS HERE  */
.content{
    margin-top: 60px;
    margin-bottom: 80px;
}
.container-image{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.city-image{
    padding: 30px;
    border-radius: 25%;
    width: 150px;
    height:150px;
}

.view-more-div{
    text-align: center;
}
.view-more-div a{
    text-decoration: none;
}
/* CONTENT DIV  END HERE*/


/* FOOTER SECTION STRAT HERE  */
footer{
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    left: 0;  
    width: 100%;
}

.footer-content-div{
    display: inline;
    float: left;
}

.social-logo-image{
    width: 22px;
    height: 20px;
}

.social-icon{
    display: inline;
    float: right;
}
.copyright{
    display: inline;
    position: absolute;
    left:40%;
    font-size: 12px;
}
.footer-content{
    padding:20px;
    overflow: hidden;
}

/* FOOTER SECTION END HERE  */
