* {
    box-sizing: border-box;
  }
body{
    margin:0;
    width:100%;
    height: 100%;
    background-color:  #e0e0e0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
} 

/* HEADER SECTION START HERE  */
header{
    background-color: rosybrown;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
.nav-div{
    display: flex;
    justify-content: space-between;   
}
    
#logo-image{
    width: 60px;
    height: 60px;
}
.logo-image-div{
    display: inline;
    margin: 0 0 0 20px;
    height: 60px;
    padding: 0px;
}

.link{
    text-decoration: none;
    color:black;
    
    font-weight: bold;
}

.login-div{
    text-align: center;
    margin:0 20px 0 0;
    float: right; 
    padding:20px;
 
}
/* HEADER ENDS HERE  */
/* CONTENT DIV STARTS HERE  */
.content{
    margin-top: 70px;
    margin-bottom: 80px;
}
.card-container{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
  width:60%;
   height: 200px;
  display: flex;
  flex-direction: row;
}
.list-view-cards-img{
    width:30%;
    height:100%;
}
.list-view-cards-details{
    padding:2%;
    background-color: lightgray;
    width: 70%;
    height: 100%;
}
.detail-hotel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.payment-details{
    margin: 2%;
}
.social-logo-image{
    width: 22px;
    height: 20px;
}
.tariff-detail{
    background-color: rosybrown;
    padding: 2%;
    margin:2%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content:space-evenly;

}

/* CONTENT DIV ENDS HERE  */

/* FOOTER SECTION STRAT HERE  */
footer{
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    left: 0;  
    width: 100%;
}

.footer-content-div{
    display: inline;
  
}

.social-logo-image{
    width: 22px;
    height: 20px;
}

.social-icon{
    display: inline;
  
}
.copyright{
    display: inline;
    font-size: 12px;
}
.footer-content{
    overflow: hidden;
    margin: 12px 20px 12px 20px;
}

/* FOOTER SECTION END HERE  */
